#container {
  display: flex;
}

textarea {
  resize: none;
}

.editBox {
  border: .5em double lightblue;
  border-radius: 2em 0 0 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.btn {
  margin: .7em .3em;
}

#btnCancel {
  color: red;
  background-color: lightcoral;
}

#btnSubmit {
  color: green;
  background-color: lightgreen;
}